{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Eximius-2k27{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'static/base.css' %}" />
  </head>
  <body>
    <header>
      <nav
        style="
          display: flex;
          gap: 20px;
          padding: 10px;
          border-bottom: 1px solid #ccc;
        "
      >
        <a href="{% url 'core:home' %}">Home</a>
        <a href="{% url 'core:about' %}">About</a>
        <a href="{% url 'core:contact' %}">Contact</a>

        {% if user.is_authenticated %}
        <span>Hi, {{ user.username }} </span>
        <form
          action="{% url 'auth:logout' %}"
          method="post"
          style="display: inline"
        >
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% if perms.core.can_view_inbox %}
        <a href="{% url 'core:inbox' %}">
          Inbox {% if unread_count > 0 %}
          <span
            style="
              background: red;
              color: white;
              padding: 2px 6px;
              border-radius: 10px;
              font-size: 12px;
            "
          >
            ({{ unread_count }})
          </span>
          {% endif %}
        </a>
        {% endif %} {% else %}
        <a href="{% url 'auth:login' %}">Login</a>
        <a href="{% url 'auth:signup' %}">Sign Up</a>
        {% endif %}
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
